<div class='flex-col '>
  <div class='flex justify-between'>
    <%=link_to '<- back', events_path, class: 'px-3 py-1.5 hover:drop-shadow-lg text-gray-500 drop-shadow' %>
   <%=link_to 'New Group', new_group_path, class: 'px-3 py-1.5 border hover:bg-amber-400 text-orange-400 border-amber-500 rounded-lg shadow-lg ml-2'%>
  </div>
  <section class='mt-6 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5  gap-x-6 gap-y-6'>
      <% @groups.each do |group| %>
        <div class='event flex-col justify-between shadow-md p-4 border border-indigo-400 transition duration-300 hover:shadow-lg rounded-2xl' style="background-color: <%= group.color %>">
          <div class='flex justify-center'>
          <h2 class='text-lg font-medium'><%=link_to 'Edit', edit_group_path(group)%></h2>
          </div>
          <div class='p-4 flex-col'>
          <h1><%= group.color%></h1>
          </div>
          <div class='flex justify-center items-center'>
              <%=link_to 'Edit', edit_group_path(group), class: 'px-3 py-1.5 border hover:bg-yellow-400 text-amber-500 border-yellow-500 rounded-lg shadow-lg '%>
                <%unless group.is_used?%>
                    <%=button_to 'Delete', group, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'ml-1 px-3 py-1.5 bg-pink-100 hover:bg-pink-300 opacity-60  hover:shadow-xl text-rose-600 rounded-lg shadow-lg'%>
                <%end%>
          </div>
        </div>
      <% end %>
  </section> 
</div>

<footer class="w-full h-10 relative bottom-0 flex justify-center mt-6">
  <p class='text-gray-400'>You can delete only unused groups</p>
  
</footer> 