
<div class='w-full flex-col'>
     <div>
     <h1 class='bg-sky-300'><%= Time.now.to_s[10..15]%></h1>
     <h1 class='bg-emerald-200'>><%=Date.today.to_s%></h1>

     <%color = 'sky'%>
     <h1 class='bg-<%=color%>-300'>caaau</h1> 
    </div>

    <div class=' flex justify-between  mt-10'>

     <div class='w-auto flex border border-cyan-400 bg-cyan-300 rounded-lg items-center p-4'>
      <div class='flex-col mr-2'>
       <h1><%=@weather['location']['name']%></h1> 
       <h1><%=@weather['location']['country']%></h1> 
       <h1><%=@weather['location']['lat']%>,<%=@weather['location']['lon']%></h1> 
       <h1><%=@weather['current']['temp_c']%>°C</h1> 
      </div>
      <div>
       <img src="<%=@weather['current']['condition']['icon']%>" alt="icon of current weather">
      </div>
     </div>



     <div class='w-2/3'>
      <h1><%=@weather['current']['condition']['icon']%></h1> 
      <img src="<%=@weather['current']['condition']['icon']%>" alt="icon of current weather">
     </div>
    </div>
</div>

