<%= link_to '< Home', root_path, class: 'px-3 py-1.5 hover:drop-shadow-lg text-gray-500 drop-shadow' %>
<div class='flex justify-end m-1'>
  <%= link_to 'Events', events_path, class: 'px-3 py-1.5 border hover:bg-indigo-400 text-indigo-500 border-indigo-500 rounded-lg shadow-lg mr-2' %>
  <%= link_to 'New Event', new_event_path, class: 'px-3 py-1.5 border hover:bg-indigo-400 text-indigo-500 border-indigo-500 rounded-lg shadow-lg' %>
</div>
<hr class='bg-gray-400 h-0.5'>
<div class='flex items-center justify-between m-2'>
  <%= link_to '<<', calendar_roll_path(@id - 1), class: 'px-3 py-1.5 border hover:bg-green-300 text-3xl text-green-400 border-green-400 rounded-lg shadow-lg' %>
  <div class='flex flex-col justify-center items-center'>
    <h1 class='text-4xl'><%= @month_view.keys[0].strftime('%B') %></h1>
    <h5 class='text-xl'><%= @month_view.keys[0].year %></h5>
  </div>
  <%= link_to '>>', calendar_roll_path(@id + 1), class: 'px-3 py-1.5 border hover:bg-green-300 text-3xl text-green-400 border-green-400 rounded-lg shadow-lg' %>
</div>

<div class='flex-col justify-between shadow-md p-4 border border-green-400 bg-green-200 rounded-xl'>
  <section class='mt-6 grid grid-cols-7 gap-x-6 gap-y-6'>
    <h1 class='text-xs sm:text-sm md:text-lg lg:text-xl'>Monday</h1>
    <h1 class='text-xs sm:text-sm md:text-lg lg:text-xl'>Tuesday</h1>
    <h1 class='text-xs sm:text-sm md:text-lg lg:text-xl'>Wednesday</h1>
    <h1 class='text-xs sm:text-sm md:text-lg lg:text-xl'>Thursday</h1>
    <h1 class='text-xs sm:text-sm md:text-lg lg:text-xl'>Friday</h1>
    <h1 class='text-xs sm:text-sm md:text-lg lg:text-xl'>Saturday</h1>
    <h1 class='text-xs sm:text-sm md:text-lg lg:text-xl'>Sunday</h1>
  </section>
    <hr class='bg-emerald-400 h-1 mt-4'>
  <section class='mt-6 grid grid-cols-7 gap-x-6 gap-y-6'>
    <% first_day_of_month = @month_view.keys[0].beginning_of_month %>
    <% last_day_of_month = @month_view.keys[0].end_of_month %>
    <% first_calendar_day = first_day_of_month.beginning_of_week(:monday) %>
    <% last_calendar_day = last_day_of_month.end_of_week(:monday) %>

    <% (first_calendar_day..last_calendar_day).each do |date| %>
      <div class='flex-col p-1 border border-green-400 rounded-lg hover:border-green-500 transition duration-100 hover:shadow <%= "text-gray-400" if date.month != first_day_of_month.month %>'>
        <%= date.day %>
        <% if @month_view[date] %>
          <% @month_view[date].each do |event| %>
            <% a = Group.find_by(group: event.group) %>
          
              <a href="/calendar/events/<%=event.id%>" style="background-color: <%= a.color %>" class="block p-2 rounded-lg shadow-md">
                <% if event.date_to.nil? || event.date_to == event.date_from %>
                  <h1 class='text-sm'><%= event.time_from.to_s[10..15] %> - <%= event.time_to.to_s[10..15] %></h1>
                <% elsif date == event.date_from %>
                  <h1 class='text-sm'><%= event.time_from.to_s[10..15] %></h1>
                <% elsif date == event.date_to %>
                  <h1 class='text-sm'><%= event.time_to.to_s[10..15] %></h1>
                <% end %>
                <h1 class='text-sm'><%=event.name %></h1>
              </a>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </section>
</div>


<footer class="w-full h-10 relative bottom-0 flex justify-center mt-6">
</footer> 